<div class="page-header">
  <h3>Users</h3>
</div>  
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
    </tr>
  </thead>
  <tbody>
    <%= render @users.order(:id) %>
  </tbody>
</table>

