<% content_for :title do %>Events - <% end %>
<div class="row">
  <p>
    <div class="col-md-6" id="calendar"></div>
  </p>
</div>

<% if can? :create, Event %>
  <p>
    <%= button_to 'New Event', new_event_path, class: "btn btn-primary btn-sm", method: :get %>
  </p>
<% end %>
<p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Start Time</th>
      <th>Location</th>
      <th>Title</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'event', collection: @events.order(:start_time).reverse_order %>
  </tbody>
</table>
<p>

